.title {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.005em;
  color: #11142d;
}

.price_range {
  width: 285px;
  margin-bottom: 56px;
}

.price_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.range {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.color {
  display: flex;
  align-items: start;
}

.categories {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.all_categories {
  width: 100%;
}

.category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.005em;
  color: #11142d;
  cursor: pointer;
  padding: 5px 5px;
}

.category:hover {
  background-color: #f86338;
  color: white;
  padding: 5px 5px;
}

.category_picked {
  background-color: #f86338;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.005em;
  padding: 5px 5px;
}
