@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=Merriweather:wght@400;700&family=Roboto:wght@400;700;900&display=swap");

.App {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content {
  max-width: 1232px;
  display: flex;
  margin: 0 auto;
  gap: 20px;
  padding: 20px 20px;
}

.goods {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 32px;
  max-width: 920px;
}

.filters {
  width: 285px;
}

.search {
  position: sticky;
  top: 0;
  z-index: 100;
}

@media screen and (max-width: 400px) {
  .content {
    flex-direction: column;
  }

  .filters {
    width: 285px;
    position: sticky;
    top: 0;
    z-index: 1000;
    align-self: center;
    background-color: white;
  }

  .search {
    top: 325px;
  }

  .App {
    margin-top: 20px;
  }
}
